<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css">
    <script src="https://kit.fontawesome.com/cbcaa8d8ee.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">-->
    <link rel="stylesheet" href="styles.css">
    <title>{{ thesis_title }} | {{ thesis_author }}</title>
  </head>
  <body>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1">
        <div id="header">

        <h2>{{ thesis_title }}</h2>
        <h4 class="author">A PhD thesis by {{ thesis_author }}
          <a title="Twitter" class="twitter" href="https://twitter.com/alexbfree"><i class="fab fa-twitter"></i></a>
          <a title="Google Scholar" class="scholar" href="https://scholar.google.com/citations?user=HYIqUJEAAAAJ"><i class="fa-solid fa-book"></i></a>
          <a title="Research Website" class="mywebsite" href="http://research.alexbowyer.com"><i class="fa-solid fa-earth-europe"></i></a>
          <a title="LinkedIn" class="linkedin" href="http://linkedin.alexbowyer.com"><i class="fa-brands fa-linkedin"></i></a>
          <br/>
          <span class='smallrow'><a href="https://openlab.ncl.ac.uk">Open Lab</a>, Newcastle University. 2016-2022</span>
        </h4>

        </div>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1">
        <div class="download-links margins-top">
          <p class="centre">
            My PhD thesis is available to read here.<br/>This is the submitted-for-viva version, and is subject to future corrections.<br/>
            <!-- If sharing, only share the link <a href="http://thesis.alexbowyer.com/">http://thesis.alexbowyer.com/</a>-->
            Since this has not yet been examined, please do not share it with anyone.
          </p>
          <p class="centre">
            <a class="pure-button pure-button-primary" href="./html/thesis.html"><i class="fa-solid fa-earth-europe"></i> Read Online</a>
            <!--<a class="pure-button pure-button-primary" href="./{{download_button_format}}/thesis.{{download_button_format}}"><i class="fas fa-download"></i> Download</a>-->
            <a class="pure-button pure-button-primary" href="./submitted/2022-08-25-1347.docx"><i class="fas fa-file-word"></i> Download (DOCX)</a>
            <a class="pure-button pure-button-primary" href="./submitted/2022-08-25-1347.pdf"><i class="fas fa-file-pdf"></i> Download (PDF)</a>
          </p>
          <p class="centre">
            <a href="{{ thesis_source }}" class="pure-button"><i class="fab fa-github"></i> Source</a>
          </p>
        </div>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1">
        <div id="chapter-table">
          <table class="pure-table">
            <thead>
              <tr>
                <th>Web (click to read in browser)</th>
                {% for format in build_formats %}
                <th>{{format}}</th>
                {% endfor %}
              </tr>
            </thead>

            <tbody>

              <tr>
                <td>
                  <a href="./html/thesis.html">Full Thesis</a>
                </td>

                {% for format in build_formats %}
                <td>
                  {% if format=="docx" %}
                    <a href="./submitted/2022-08-25-1347.docx">thesis.docx</a>
                  {% endif %}
                  {% if format=="pdf" %}
                    <a href="./submitted/2022-08-25-1347.pdf">thesis.pdf</a>
                  {% endif %}
                  {% if format=="epub" %}
                    <a href="./{{format}}/thesis.{{format}}">thesis.{{format}}</a>
                  {% endif %}
                </td>
                {% endfor %}

              </tr>

              <tr class="section">
                <td colspan="4">
                  Preface
                </td>
              </tr>

              <tr>
                <td>
                  <a href="./html/frontmatter.html">Abstract, Dedication & Acknowledgements</a>
                </td>

                {% for format in build_formats %}
                <td>
                  <a href="./{{format}}/frontmatter.{{format}}">frontmatter.{{format}}</a>
                </td>
                {% endfor %}
              </tr>

              <tr class="section">
                <td colspan="4">
                  Section I: Introduction, Background and Approach
                </td>
              </tr>

              {% for item in section1_items %}
              <tr>
                <td>
                  <a href="./html/{{item.file}}.html">{{item.title}}</a>
                </td>

                {% for format in build_formats  %}
                <td>
                  <a href="./{{format}}/{{item.file}}.{{format}}">{{item.file}}.{{format}}</a>
                </td>
                {% endfor %}

              </tr>
              {% endfor %}

              <tr class="section">
                <td colspan="4">
                  Section II: Understanding Attitudes and Desires through Participatory Case Studies
                </td>
              </tr>

              {% for item in section2_items %}
              <tr>
                <td>
                  <a href="./html/{{item.file}}.html">{{item.title}}</a>
                </td>

                {% for format in build_formats  %}
                <td>
                  <a href="./{{format}}/{{item.file}}.{{format}}">{{item.file}}.{{format}}</a>
                </td>
                {% endfor %}

              </tr>
              {% endfor %}

              <tr class="section">
                <td colspan="4">
                  Section III: Defining a New Research Agenda - Human Data Relations
                </td>
              </tr>

              {% for item in section3_items %}
              <tr>
                <td>
                  <a href="./html/{{item.file}}.html">{{item.title}}</a>
                </td>

                {% for format in build_formats  %}
                <td>
                  <a href="./{{format}}/{{item.file}}.{{format}}">{{item.file}}.{{format}}</a>
                </td>
                {% endfor %}

              </tr>
              {% endfor %}

              <tr class="section">
                <td colspan="4">
                  Section IV: Operationalising the Research Agenda through Design & Practice
                </td>
              </tr>

              {% for item in section4_items %}
              <tr>
                <td>
                  <a href="./html/{{item.file}}.html">{{item.title}}</a>
                </td>

                {% for format in build_formats  %}
                <td>
                  <a href="./{{format}}/{{item.file}}.{{format}}">{{item.file}}.{{format}}</a>
                </td>
                {% endfor %}

              </tr>
              {% endfor %}

              <tr class="section">
                <td colspan="4">
                  Section V: Conclusions and Outlook
                </td>
              </tr>

              {% for item in section5_items %}
              <tr>
                <td>
                  <a href="./html/{{item.file}}.html">{{item.title}}</a>
                </td>

                {% for format in build_formats  %}
                <td>
                  <a href="./{{format}}/{{item.file}}.{{format}}">{{item.file}}.{{format}}</a>
                </td>
                {% endfor %}

              </tr>
              {% endfor %}

              <tr class="section">
                <td colspan="4">
                  Coda
                </td>
              </tr>

              <tr>
                <td>
                  <a href="./html/additional.html">Additional Reference Information</a>
                </td>

                {% for format in build_formats %}
                <td>
                  <a href="./{{format}}/additional.{{format}}">additional.{{format}}</a>
                </td>
                {% endfor %}
              </tr>

              <tr>
                <td>
                  <a href="./html/appendices.html">Appendices & Glossary</a>
                </td>

                {% for format in build_formats %}
                <td>
                  <a href="./{{format}}/appendices.{{format}}">appendices.{{format}}</a>
                </td>
                {% endfor %}
              </tr>

              <!-- (hidden because file doesn't render properly)
              <tr>
                <td>
                  <a href="./html/bibliography.html">Bibliography</a>
                </td>

                {% for format in build_formats %}
                <td>
                  <a href="./{{format}}/bibliography.{{format}}">bibliography.{{format}}</a>
                </td>
                {% endfor %}
              </tr>
              -->
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1">
        <h4>Last Updated: <span id="last_updated_date">{{ last_updated }}</span></h4>
        <p>
          To load the newest version, hard refresh with Ctrl &#43; R (Windows) or ⌘ &#43; R (Mac).
        </p>
      </div>
    </div>

  </body>
</html>
